<!-- Bắt buộc phải truyền value và labels -->
<div class="statistic-container">
  <app-breadcrumb></app-breadcrumb>
  <div style="display: flex; flex-direction: row; gap: 10px">
    <app-post-card
      [post]="postCardData"
      [showControls]="true"
      (edit)="handleEdit()"
      (delete)="handleDelete()"
      (approve)="handleApprove()"
      (summary)="handleSummary()"
      (comment)="handleComment()"
      (downvote)="handleDownVote()"
      (upvote)="handleUpvote()"
      (save)="handleSave()"
      (report)="handleReport()"
      [popular]="3"
    ></app-post-card>

    <app-post-card
      [post]="postCardDataApproved"
      [showControls]="true"
      (edit)="handleEdit()"
      (delete)="handleDelete()"
      (approve)="handleApprove()"
      (summary)="handleSummary()"
      (comment)="handleComment()"
      (downvote)="handleDownVote()"
      (upvote)="handleUpvote()"
      (save)="handleSave()"
      (report)="handleReport()"
    ></app-post-card>

    <app-post-card
      [post]="postCardDataPending"
      [showControls]="true"
      (edit)="handleEdit()"
      (delete)="handleDelete()"
      (approve)="handleApprove()"
      (summary)="handleSummary()"
      (reject)="handleRejected()"
      (comment)="handleComment()"
      (downvote)="handleDownVote()"
      (upvote)="handleUpvote()"
      (save)="handleSave()"
      (report)="handleReport()"
    ></app-post-card>
  </div>

  <fx-pie-chart
    [value]="[20, 18, 10, 8, 11, 10, 23, 23]"
    [labels]="[
      'JavaScript',
      'Angular',
      'React',
      'Vue',
      'C#',
      'Java',
      'C',
      'C++'
    ]"
    [chartTitle]="'Tỷ lệ hoàn thành bài của học sinh trong tổ chức'"
  >
  </fx-pie-chart>
  <!-- Ví dụ sử dụng fx-line-chart với đủ 7 ngày trong tuần, 2 series: Bài đã làm, Bài chưa làm -->
  <!-- <fx-line-chart
    [categories]="[
      '1',
      '2',
      '3',
      '4',
      '5',
      '6',
      '7',
      '8',
      '9',
      '10',
      '11',
      '12',
      '13',
      '14',
      '15',
      '16',
      '17',
      '18',
      '19',
      '20',
      '21',
      '22',
      '23',
      '24',
      '25',
      '26',
      '27',
      '28',
      '29',
      '30'
    ]"
    [series]="[
      {
        name: 'Viết mã',
        data: [
          1, 12, 8, 15, 2, 0, 7, 1, 1, 13, 7, 6, 5, 0, 7, 2, 1, 2, 11, 0, 9, 8,
          4, 12, 1, 6, 8, 10, 12, 14
        ]
      },
      {
        name: 'Trắc nghiệm',
        data: [
          1, 1, 0, 1, 9, 8, 7, 6, 5, 2, 8, 5, 1, 1, 1, 0, 8, 5, 4, 0, 2, 1, 0,
          2, 4, 6, 1, 1, 2, 4
        ]
      }
    ]"
    [height]="350"
    [chartTitle]="'Tỷ lệ hoàn thành bài của học sinh trong tổ chức'"
  ></fx-line-chart> -->

  <fx-pie-chart
    [value]="[200, 180, 140, 80]"
    [labels]="['Dễ', 'Khó', 'Trung bình', 'Siêu khó']"
    [chartTitle]="'Tỷ lệ hoàn thành bài của học sinh trong tổ chức'"
  >
  </fx-pie-chart>
  <fx-pie-chart
    [value]="[200, 180]"
    [labels]="['Dạng trắc nghiệm', 'Dạng viết code']"
    [chartTitle]="'Tỷ lệ hoàn thành bài của học sinh trong tổ chức'"
  >
  </fx-pie-chart>
  <fx-pie-chart
    [value]="[200, 80]"
    [labels]="['Đang hoạt động', 'Đã xóa']"
    [chartTitle]="'Tỷ lệ hoàn thành bài của học sinh trong tổ chức'"
  >
  </fx-pie-chart>
</div>
