@if(resource) {
<div class="resource-detail-container">
  @if (resource) {
  <div
    class="resource-detail-video"
    [ngClass]="{
        'video': !isDocument,
        'document': isDocument
      }"
  >
    <!-- Nếu là Document thì đưa Info lên trước -->
    <div class="resource-video-info">
      <div class="title">
        {{ resource.fileName || 'File tài nguyên học tập' }}
      </div>
      <div class="author-action">
        <div class="author">
          <div class="avatar">
            <img
              [src]="resource.userProfile.avatarUrl || avatarDefault"
              alt="Avatar"
            />
          </div>
          <div class="name">{{authorName ? authorName : 'Ẩn danh'}}</div>
        </div>
      </div>
      <div class="tag-description">
        <div class="resource-tags">
          @for (tag of tags; track tag) {
          <span class="resource-tag"> #{{ tag }} </span>
          }
        </div>
      </div>
    </div>

    <div class="resource-content">
      <!-- Nếu là video -->
      @if (!isDocument && !isImage) { @if( resource.hlsUrl){<app-video-player
        [videoSrc]="resource.hlsUrl || ''"
      ></app-video-player
      >} @else {
      <div class="no-data-container">
        <ng-lottie [options]="lottieOption" style="width: 200px; height: 200px">
        </ng-lottie>
        <div class="no-available-video">Video hiện không khả dụng</div>
      </div>

      }
      <div class="resource-detail-content">
        <markdown [data]="resource.description"></markdown>
      </div>
      } @else {
      <!-- Nếu là document -->
      @if (isDocument) {
      <div class="document-view">
        @if (resource.fileName.endsWith('.pdf')) {
        <!-- PDF xem trực tiếp -->
        <iframe
          [src]="safeUrl"
          width="100%"
          height="600px"
          frameborder="0"
        ></iframe>
        } @else {
        <!-- File Word hoặc định dạng không hỗ trợ -->
        <div class="download-message">
          <p>Tệp này không thể hiển thị trực tiếp. Tệp đã được tải xuống.</p>
          <a [href]="resource.url" download class="download-link">
            Tải xuống {{ resource.fileName }}
          </a>
        </div>
        }

        <div class="resource-detail-content">
          <markdown [data]="resource.description"></markdown>
        </div>
      </div>
      }

      <!-- Nếu là image -->
      @if (isImage) {
      <div class="image-view">
        <img
          [src]="resource.url"
          [alt]="resource.fileName"
          class="resource-image"
        />
        <div class="resource-detail-content">
          <markdown [data]="resource.description"></markdown>
        </div>
      </div>
      } }
    </div>
  </div>

  <!-- Ẩn Other video nếu là Document -->
  @if (!isDocument) {
  <div class="resource-detail-another-video">
    <div class="input-title">
      <app-input
        label="Tìm kiếm video khác"
        placeholder="Nhập từ khóa tìm kiếm..."
        [value]="searchTerm"
        (valueChange)="handleInputChange($event)"
        [minLength]="3"
        [variant]="'primary'"
        [errorMessage]="searchTermError"
        [isSvg]="true"
      ></app-input>
    </div>
    <div class="list-resource-card-container">
      @if (!isLoading && listResource) {
      <div class="list-resource-card">
        @for (resource of listResource; track resource) {
        <div>
          <app-resource-card
            [resource]="resource"
            [showControls]="false"
            (main)="goToDetail($event)"
          ></app-resource-card>
        </div>
        }
      </div>
      @if(hasMore && !isLoadingMore){
      <div class="load-more-container">
        <button class="load-more-btn" (click)="loadOtherResource()">
          Xem thêm
        </button>
      </div>
      } } @if (isLoading) {
      <div class="list-resource-card">
        <app-skeleton-loading type="card" [count]="8"></app-skeleton-loading>
      </div>
      }
    </div>
  </div>
  } }
</div>
} @if(!resource){
<div class="list-post-card">
  <app-skeleton-loading type="card" [count]="8"></app-skeleton-loading>
</div>
}
