.chart-container {
  width: 100%;
}

.chart-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 12px;
}

.chart-body {
  width: 100%;
  height: 400px; // 👈 đặt chiều cao rõ ràng
}

apx-chart {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
