.org-layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .main-org-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    .org-content-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
  }
}
