<nav
  class="ant-menu"
  [class.ant-menu-horizontal]="mode === 'horizontal' && !isMobileView"
  [class.ant-menu-vertical]="
    mode === 'vertical' || isMobileMenuOpen || isMobileView
  "
  [class.ant-menu-light]="theme === 'light'"
  [class.ant-menu-dark]="theme === 'dark'"
>
  <div class="ant-menu-container">
    <!-- Hamburger icon for mobile: luôn hiện khi isMobileView -->
    <button
      class="ant-menu-hamburger"
      type="button"
      (click)="toggleMobileMenu($event)"
      aria-label="Open menu"
      *ngIf="isMobileView"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-menu-icon lucide-menu"
      >
        <path d="M4 12h16" />
        <path d="M4 18h16" />
        <path d="M4 6h16" />
      </svg>
    </button>
    <!-- Menu list: chỉ hiện khi isMobileMenuOpen hoặc không phải mobile -->
    <ul
      class="ant-menu-list"
      [class.ant-menu-list-mobile-open]="isMobileMenuOpen"
      [class.ant-menu-list-mobile]="isMobileView"
      *ngIf="!isMobileView || isMobileMenuOpen"
    >
      <li
        *ngFor="let item of menuItems"
        class="ant-menu-item-wrapper"
        [class.ant-menu-item-wrapper-has-children]="hasChildren(item)"
        (mouseenter)="onMouseEnter(item)"
        (mouseleave)="onMouseLeave(item)"
      >
        <div
          class="ant-menu-item"
          [class.ant-menu-item-active]="isActive(item)"
          [class.ant-menu-item-selected]="isActive(item)"
          [class.ant-menu-item-disabled]="item.disabled"
          [class.ant-menu-item-expanded]="isExpanded(item)"
          (click)="
            hasChildren(item)
              ? toggleSubmenu(item, $event)
              : setActiveItem(item)
          "
          [routerLink]="!hasChildren(item) ? item.path : null"
          routerLinkActive="ant-menu-item-selected"
        >
          <span class="ant-menu-item-icon" *ngIf="item.icon">
            <i [class]="item.icon"></i>
          </span>
          <span class="ant-menu-title-content">
            {{ item.label }}
          </span>
          <span class="ant-menu-item-arrow" *ngIf="hasChildren(item)">
            <i
              class="fas fa-chevron-down"
              [class.rotated]="isExpanded(item)"
            ></i>
          </span>
        </div>

        <!-- Submenu Dropdown -->
        <div
          *ngIf="hasChildren(item)"
          class="ant-submenu"
          [class.open]="submenuState[item.id] === 'open'"
          [class.close]="submenuState[item.id] === 'close'"
          (mouseenter)="onSubmenuMouseEnter(item)"
          (mouseleave)="onSubmenuMouseLeave(item)"
          [ngStyle]="
            isMobileView &&
            submenuState[item.id] === 'open' &&
            submenuPopoverPosition[item.id]
              ? {
                  position: 'fixed',
                  top: submenuPopoverPosition[item.id].top + 'px',
                  left: submenuPopoverPosition[item.id].left + 'px',
                  width: submenuPopoverPosition[item.id].width + 'px',
                  zIndex: 9999
                }
              : {}
          "
        >
          <ul class="ant-submenu-list">
            <li
              *ngFor="let child of item.children"
              class="ant-submenu-item"
              [class.ant-submenu-item-active]="isActive(child)"
              [class.ant-submenu-item-selected]="isActive(child)"
              [class.ant-submenu-item-disabled]="child.disabled"
              (click)="onSubmenuItemClick(child)"
              [routerLink]="child.path"
              routerLinkActive="ant-submenu-item-selected"
            >
              <span class="ant-submenu-item-icon" *ngIf="child.icon">
                <i [class]="child.icon"></i>
              </span>
              <span class="ant-submenu-title-content">
                {{ child.label }}
              </span>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
