<footer class="footer">
  <div class="footer-top">
    <div class="footer-logo">
      <img class="footer-logo-icon" src="logo-light.svg" alt="logo" />
      <div class="footer-logo-text">
        <p class="footer-logo-text-name">CodeCampus</p>
        <span class="footer-logo-text-description"
          >Học tập và kết nối cộng đồng</span
        >
      </div>
      <span class="footer-logo-divider"></span>
    </div>
  </div>
  <div class="footer-content">
    <div class="footer-description">
      <h3 class="footer-name">CodeCampus</h3>
      <p class="footer-desc">
        Là nền tảng tương tác trực tuyến hỗ trợ người dùng học tập, thực hành,
        thi đấu và đánh giá kỹ năng lập trình một cách nhanh chóng và chính xác.
      </p>
      <div class="footer-social">
        <a href="#" aria-label="facebook"
          ><img
            class="footer-social-icon"
            src="/social-assets/facebook.svg"
            alt="Google"
        /></a>
        <a href="#" aria-label="Discord"
          ><img
            class="footer-social-icon"
            src="/social-assets/discord.svg"
            alt="Discord"
        /></a>
        <a href="#" aria-label="YouTube"
          ><img
            class="footer-social-icon"
            src="/social-assets/youtube.svg"
            alt="YouTube"
        /></a>
      </div>
    </div>
    <div class="footer-col">
      <div class="footer-col-item">
        <h4 class="footer-title">Chăm sóc khách hàng</h4>
        <ul>
          <li>Hướng dẫn thanh toán</li>
          <li>Quy trình sử dụng dịch vụ</li>
          <li>Chính sách bảo mật</li>
        </ul>
      </div>
      <div class="footer-col-item">
        <h4 class="footer-title">Tính năng</h4>
        <ul>
          <li>Học tập</li>
          <li>Luyện tập</li>
          <li>Thi đấu</li>
          <li>Quản lý tổ chức</li>
          <li>Diễn đàn</li>
        </ul>
      </div>
      <div class="footer-col-item">
        <h4 class="footer-title">Về chúng tôi</h4>
        <ul>
          <li>Giới thiệu</li>
          <li>Điều khoản sử dụng</li>
          <li>Trợ giúp</li>
        </ul>
      </div>
      <div class="footer-col-item">
        <h4 class="footer-title">Thông tin liên hệ</h4>
        <ul>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-building-icon lucide-building"
            >
              <rect width="16" height="20" x="4" y="2" rx="2" ry="2" />
              <path d="M9 22v-4h6v4" />
              <path d="M8 6h.01" />
              <path d="M16 6h.01" />
              <path d="M12 6h.01" />
              <path d="M12 10h.01" />
              <path d="M12 14h.01" />
              <path d="M16 10h.01" />
              <path d="M16 14h.01" />
              <path d="M8 10h.01" />
              <path d="M8 14h.01" />
            </svg>
            <span>
              Địa chỉ: Trường đại học CMC CS2, Vạn Phúc, Hà Đông, Hà Nội</span
            >
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-phone-icon lucide-phone"
            >
              <path
                d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"
              />
            </svg>
            <span> Điện thoại: 0123 456 789</span>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-mail-icon lucide-mail"
            >
              <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7" />
              <rect x="2" y="4" width="20" height="16" rx="2" />
            </svg>
            <span> Email: Email&#64;gmail.com</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
