<div class="personal-profile">
  <div class="profile-info">
    <app-profile-popup
      [user]="user"
      [variant]="'personal'"
      [onClickEdit]="onDisplayNameClick.bind(this, user, false)"
      [follower]="followerList"
      [following]="followingList"
    ></app-profile-popup>
  </div>
  <div class="learning-process">
    <div class="academic-results">
      <div class="title-nav">
        <span class="title"> Thống kê kết quả học tập </span>
        <span class="nav">
          <a href="/profile/academic-results">Chi tiết</a>
        </span>
      </div>
      <div class="results">
        <div class="academic-results-item">
          <div class="academic-results-value">{{fakenumber}}</div>
          <span class="academic-results-label">Bài giảng đã học</span>
        </div>
        <div class="academic-results-item">
          <div class="academic-results-value">{{fakenumber}}</div>
          <span class="academic-results-label">Bài tập đã làm</span>
        </div>
        <div class="academic-results-item">
          <div class="academic-results-value">{{fakenumber}}</div>
          <span class="academic-results-label">Bài viết đã đăng</span>
        </div>
      </div>
    </div>
    <div class="competition">
      <div class="title-nav">
        <span class="title"> Thống kê kết quả học tập </span>
        <span class="nav">
          <a href="/profile/academic-results">Chi tiết</a>
        </span>
      </div>
      @for (competition of fakeCompetition.slice(0, 2); track competition) {
        <div
          class="competition-item"
          >
          <div class="competition-name">{{competition.name}}</div>
          <div
            class="competition-status"
            [ngClass]="{'ongoing': competition.status === 'ongoing', 'upcoming': competition.status === 'upcoming', 'completed': competition.status === 'completed'}"
            >
            {{competition.status}}
          </div>
        </div>
      }
    </div>
    <div class="experience">
      <div class="title-nav">
        <span class="title"> Thống kê kết quả học tập </span>
        <span class="nav">
          <a href="/profile/academic-results">Chi tiết</a>
        </span>
      </div>
      @if (listExercise && !isLoading) {
        <div class="list-exercise">
          @for (item of listExercise; track item) {
            <app-card-excercise
              [data]="item"
              [exerciseId]="item.id"
              >
            </app-card-excercise>
          }
        </div>
      }

      @if (isLoading) {
        <app-skeleton-loading
          type="card"
          [count]="8"
        ></app-skeleton-loading>
      }

      @if (listExercise.length === 0 && !isLoading) {
        <div class="no-content">
          Không có dữ liệu
        </div>
      }

      @if (isLoadingMore) {
        <div class="loading-more">
          Đang tải thêm, xin chờ...
        </div>
      }
    </div>
    <!-- <div class="post"></div> -->
  </div>
  <div class="short-cut">
    <div class="recent-notice">
      <div class="title-nav">
        <span class="title"> Thông báo gần đây </span>
        @for (noti of fakeNotification; track noti) {
          <div class="notice">
            <a class="notice-item">{{noti.title}}</a>
          </div>
        }
        <app-button
          class="noti-button"
          [width]="'140px'"
          [height]="'40px'"
          [variant]="'outline'"
          >
          Xem tất cả</app-button
          >
        </div>
      </div>
    </div>

    @if (openedUser) {
      <div
        [ngClass]="{'profile-popup-overlay': true, 'hide': isClosing}"
        >
        <div
          class="profile-popup-backdrop"
          [ngClass]="{'hide': isClosing}"
          (click)="closeProfilePopup()"
        ></div>
        <div [ngClass]="{'profile-popup-container': true, 'hide': isClosing}">
          <button class="close-btn" (click)="closeProfilePopup()">×</button>
          <app-update-profile
            [user]="openedUser"
            [variant]="'popup'"
            (refresh)="refetchUserData($event)"
          ></app-update-profile>
        </div>
      </div>
    }
  </div>
