.profile-menu {
  position: absolute;
  right: 0;
  top: 80px;
  width: 270px;
  height: 188px;
  background: var(--background-color);
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none; /* Không cho phép tương tác khi ẩn */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.profile-menu.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; /* Cho phép tương tác khi hiển thị */
}

.profile-menu.fadeout {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}

.profile-menu-btn {
  width: 247px;
  height: 35px;
  background: var(--primary-color-lightest);
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 15px;
  color: var(--text-color);
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
.profile-menu-btn:last-child {
  margin-bottom: 0;
}
.profile-menu-btn:hover {
  background: var(--primary-color-lighter);
}

.profile-menu-logout {
  width: 247px;
  height: 35px;
  background: transparent;
  border: none;
  border-radius: 8px;
  color: var(--text-color);
  font-size: 15px;
  cursor: pointer;
  margin-top: 8px;
  transition: background 0.2s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  align-items: center;
}
.profile-menu-logout:hover {
  background: var(--primary-color-lightest);
}
