<div
  class="profile-menu"
  [class.visible]="isVisible"
  [class.fadeout]="!isVisible"
  >
  @if (!needSetNewPass) {
    <button
      class="profile-menu-btn"
      (click)="openChangePasswordModal()"
      >
      <div class="icon">
        <i class="fa-solid fa-key"></i>
      </div>
      Đổi mật khẩu
    </button>
  }
  @if (needSetNewPass) {
    <button
      class="profile-menu-btn"
      (click)="openSetPasswordModal()"
      >
      <div class="icon">
        <i class="fa-solid fa-key"></i>
      </div>
      Đặt mật khẩu mới
    </button>
  }
  <button class="profile-menu-btn" (click)="goToProfile()">
    <div class="icon">
      <i class="fa-solid fa-user"></i>
    </div>
    Hồ sơ của bạn
  </button>
  <button class="profile-menu-logout" (click)="onLogout()">
    <div class="icon">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
    </div>
    Đăng xuất
  </button>
</div>

<app-change-password
  [isVisibleModal]="isOpenChangePassword"
  (onCloseModal)="onCloseModal($event)"
></app-change-password>
