<div class="resource-detail-container">
  <div
    class="resource-detail-video"
    [ngClass]="{
      'video': !isDocument,
      'document': isDocument
    }"
  >
    <!-- Nếu là Document thì đưa Info lên trước -->
    <ng-container *ngIf="isDocument">
      <div class="resource-video-info">
        <div class="title">{{ resource.fileName }}</div>
        <div class="author-action">
          <div class="author">
            <div class="avatar">
              <img
                [src]="'https://i.pinimg.com/736x/70/1f/e2/701fe2ef71df419a1758931abecfad67.jpg'"
                alt="Avatar"
              />
            </div>
            <div class="name">Ẩn danh</div>
          </div>
          <div class="action">
            <div class="report">
              <span>Báo cáo</span>
              <!-- icon -->
            </div>
            <div class="save">
              <span>Lưu</span>
              <!-- icon -->
            </div>
          </div>
        </div>
        <div class="tag-description">
          <div class="resource-tags">
            <span class="resource-tag" *ngFor="let tag of resource.tags">
              #{{ tag.name }}
            </span>
          </div>
          <div class="resource-description">{{ resource.description }}</div>
        </div>
      </div>
    </ng-container>

    <div class="resource-content">
      <!-- Nếu là video -->
      <ng-container *ngIf="!isDocument; else documentView">
        <app-video-player [videoSrc]="resource.hlsUrl"></app-video-player>
      </ng-container>

      <!-- Nếu là document -->
      <ng-template #documentView>
        <div class="document-view">
          <iframe
            *ngIf="isDocument"
            [src]="safeUrl"
            width="100%"
            height="600px"
            frameborder="0"
            (error)="onIframeError($event)"
          ></iframe>
          <!-- thumbnail, actions giữ nguyên -->
        </div>
      </ng-template>
    </div>

    <!-- Nếu là Video thì info + comment vẫn nằm dưới như cũ -->
    <ng-container *ngIf="!isDocument">
      <div class="resource-video-info">
        <!-- giữ nguyên phần info -->
      </div>
    </ng-container>

    <!-- Comment luôn nằm dưới cùng cho cả video & document -->
    <app-comment></app-comment>
  </div>

  <!-- Ẩn Other video nếu là Document -->
  <div class="resource-detail-another-video" *ngIf="!isDocument">
    <div class="input-title">
      <app-input
        label="Tìm kiếm video khác"
        placeholder="Nhập từ khóa tìm kiếm..."
        [value]="searchTerm"
        (valueChange)="handleInputChange($event)"
        [minLength]="3"
        [variant]="'primary'"
        [errorMessage]="searchTermError"
        [isSvg]="true"
      ></app-input>
    </div>
    <div class="list-resource-card-container">
      <div *ngIf="!isLoading && listResourceCard" class="list-resource-card">
        <div *ngFor="let resource of listResourceCard">
          <app-resource-card
            [resource]="resource"
            [onMain]="goToDetail"
            [showControls]="false"
            [variant]="'horizontal'"
          ></app-resource-card>
        </div>
      </div>
      <div *ngIf="isLoading" class="list-resource-card">
        <app-skeleton-loading type="card" [count]="8"></app-skeleton-loading>
      </div>
    </div>
  </div>
</div>
