<div class="post-card" (click)="onMainClick()">
  <div class="post-card__status-bar"></div>
  <h2 class="post-card__title">{{ post.title | truncate :40}}</h2>

  <header class="post-card__header">
    <img class="post-card__avatar" [src]="post.avatar" alt="Author's avatar" />
    <div class="post-card__meta">
      <span class="post-card__author">{{ post.author }}</span>
      <span class="post-card__time">
        {{ formatTime(post.time) }} - {{ post.public ? 'Công khai' : 'Nội bộ' }}
      </span>
    </div>
    <div
      class="post-card__popularity-dot"
      [ngClass]="popularityClass"
      [title]="'Độ phổ biến'"
    ></div>
  </header>

  <main class="post-card__body">
    <div
      class="post-card-description"
      [innerHTML]="post.description | normalizeHtml | sanitizeHtml"
    ></div>

    <div class="post-card__tags" *ngIf="post.tags?.length">
      <span
        class="post-card__tag"
        *ngFor="let tag of post.tags; trackBy: trackByFn"
        >#{{ tag }}</span
      >
    </div>
  </main>

  <footer class="post-card__footer">
    <div class="post-card__interactions">
      <button
        type="button"
        class="post-card__button"
        (click)="onUpvoteClick($event)"
        title="Upvote"
      >
        <i class="fa-regular fa-thumbs-up"></i>
        <span>{{ post.upvote }}</span>
      </button>
      <button
        type="button"
        class="post-card__button"
        (click)="onDownvoteClick($event)"
        title="Downvote"
      >
        <i class="fa-regular fa-thumbs-down"></i>
        <span>{{ post.downvote }}</span>
      </button>

      <button
        type="button"
        class="post-card__button no-cursor"
        (click)="onCommentClick($event)"
        title="Bình luận"
        *ngIf="post.allowComment"
      >
        <i class="fa-regular fa-comment"></i>
        <span>{{ post.comment }}</span>
      </button>
    </div>
    <div class="post-card__actions">
      <button
        *ngIf="active"
        type="button"
        class="post-card__button"
        (click)="onDeleteClick($event)"
        title="Xóa bài viết"
      >
        <i class="fa-solid fa-trash"></i>
      </button>
      <button
        type="button"
        class="post-card__button"
        (click)="onSaveClick($event)"
        title="Lưu lại"
      >
        <i class="fa-regular fa-bookmark"></i>
      </button>
    </div>
  </footer>
</div>
