<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li
      class="breadcrumb-item"
      *ngFor="let breadcrumb of breadcrumbs; let last = last"
    >
      <!-- <a *ngIf="!breadcrumb.isActive" [routerLink]="breadcrumb.url">{{
        breadcrumb.label
      }}</a> -->
      <span *ngIf="!breadcrumb.isActive">{{ breadcrumb.label }}</span>
      <span *ngIf="breadcrumb.isActive">{{ breadcrumb.label }}</span>
      <span *ngIf="!last" class="breadcrumb-separator">/</span>
    </li>
  </ol>
</nav>
