<div class="history-container" appScrollEnd (appScrollEnd)="loadNextPage()">
  <h2 class="page-title">📘 Lịch sử nộp bài Code</h2>

  <div class="history-list" *ngIf="submissions && !isLoadingInitial">
    <div
      class="history-card"
      *ngFor="let item of submissions"
      (click)="goToQuizDetails(item.exerciseId)"
    >
      <div class="card-header">
        <h3 class="exercise-title">{{ item.exerciseTitle }}</h3>
        <span
          class="score"
          [class.passed]="item.passed"
          [class.failed]="!item.passed"
        >
          {{ item.score }}/{{ item.totalPoints }}
        </span>
      </div>

      <div class="card-body">
        <div class="info">
          <span
            ><i class="fa fa-code"></i> {{ item.language | uppercase }}</span
          >
          <span
            ><i class="fa fa-microchip"></i> {{ item.peakMemoryMb }} MB</span
          >
          <span><i class="fa fa-flag"></i> {{ item.status }}</span>
        </div>

        <div class="info">
          <span
            ><i class="fa fa-clock"></i> {{ item.timeTakenSeconds }} giây</span
          >
          <span
            ><i class="fa fa-calendar"></i>
            {{ item.submittedAt | date : "dd/MM/yyyy HH:mm" }}</span
          >
        </div>

        <div class="progress-bar">
          <div
            class="progress-fill"
            [style.width.%]="(item.score / item.totalPoints) * 100"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="submissions?.length === 0 && !isLoadingInitial && !isLoadingNextPage"
    class="no-data-container"
  >
    <ng-lottie [options]="lottieOptions" style="width: 200px; height: 200px">
    </ng-lottie>
    <p>Không có dữ liệu</p>
  </div>

  <app-skeleton-loading
    *ngIf="isLoadingInitial"
    type="list"
    [count]="8"
  ></app-skeleton-loading>
</div>
