<div id="chart">
  @if (chartTitle) {
    <div
      class="chart-title"
      style="text-align: center; font-weight: bold; margin-bottom: 8px"
      >
      {{ chartTitle }}
    </div>
  }
  @if (chartOptions.series && chartOptions.chart && chartOptions.xaxis && chartOptions.legend && chartOptions.fill && chartOptions.plotOptions && chartOptions.responsive && chartOptions.dataLabels) {
    <apx-chart
      #chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [legend]="chartOptions.legend"
      [fill]="chartOptions.fill"
      [plotOptions]="chartOptions.plotOptions"
      [responsive]="chartOptions.responsive"
      [dataLabels]="chartOptions.dataLabels"
    ></apx-chart>
  } @else {
    <div style="color: red; text-align: center; padding: 16px">
      Lỗi: Thiếu dữ liệu đầu vào bắt buộc hoặc dữ liệu không hợp lệ để hiển thị
      biểu đồ.
    </div>
  }
</div>
