// styles/themes/_variables.scss

// Global color variables
$blue-334eac: #334eac; // primary blue - medium intensity
$blue-7096d1: #7096d1; // primary blue - light intensity
$blue-d0e3ff: #d0e3ff; // primary blue - very light intensity
$blue-e7f1ff: #e7f1ff; // primary blue - lightest intensity
$blue-081f5c: #081f5c; // primary blue - dark intensity
$white-f9fcff: #f9fcff; // white - bright intensity
$black-000000: #000000; // black - darkest intensity
$dark-1e1e1e: #1e1e1e; // dark background - very dark intensity
$dark-121212: #2c2c2c; // dark background - very dark intensity
$dark-18181B: #18181b; // text black and gray
$gray-D4D4D8: #d4d4d8; // text gray
$blue-dark: #081f5c;
$blue-main: #334eac;
$blue-mid: #7096d1;
$blue-light: #d0e3ff;
$blue-lighter: #e7f1ff;
$blue-lightest: #f9fcff;

$input-primary-color: #e6e6e6;
$input-secondary-color: #5d5757;
$border-color: #ced4da;
$error-color: #e45967;

// Theme classes

// Light Theme
.theme-light {
  --primary-color: #{$blue-334eac};
  --primary-color-light: #{$blue-7096d1};
  --primary-color-lighter: #{$blue-d0e3ff};
  --primary-color-lightest: #{$blue-e7f1ff};

  --accent-color: #{$blue-081f5c}; // dùng cho nhấn mạnh, title...
  --background-color: #{$white-f9fcff};
  --background-color-secondary: #{$blue-e7f1ff};
  --surface-color: #ffffff;
  --border-color: #{$blue-d0e3ff};
  --hover-color: #{$blue-7096d1};
  --disabled-color: #d3d3d3;
  --title-text: #081f5c;
  --text-color: #{$black-000000};
  --text-muted-color: #555;

  --text-dark-gray-color: #{$dark-18181B};
  --text-gray-color: #{$gray-D4D4D8};

  --button-color: #{$blue-main};
  --button-color-hover: #{$blue-dark};

  --input-primary-color: #{$input-primary-color};
  --input-secondary-color: #{$input-secondary-color};
  --border-color: #{$border-color};
  --error-color: #{$error-color};
  --error-color-rgb: 255, 59, 48;

  --dropdown-primary-color: #{$input-primary-color};
  --dropdown-secondary-color: #{$blue-dark};
  --dropdown-selected-color: #{$blue-main};
  --dropdown-hover-color: #{$blue-mid};

  --progress-color: #{$blue-7096d1};

  --login-slider-bg: url("/auth-assets/Login-Art.png");
}

// Dark Theme
.theme-dark {
  --primary-color: #{$blue-7096d1};
  --primary-color-dark: #{$blue-334eac};
  --primary-color-darker: #{$blue-081f5c};

  --accent-color: #{$blue-d0e3ff}; // tạo điểm sáng trong nền tối
  --background-color: #{$dark-121212};
  --background-color-secondary: #{$dark-1e1e1e};
  --surface-color: #686868;
  --border-color: #2a2a2a;
  --hover-color: #3a4a7a;
  --disabled-color: #555;
  --title-text: #7096d1;
  --text-color: #{$white-f9fcff};
  --text-muted-color: #999;

  --button-color: #{$blue-dark};
  --button-color-hover: #{$blue-main};

  --input-primary-color: #555555;
  --input-secondary-color: #{$input-secondary-color};
  --border-color: #{$border-color};
  --error-color: #{$error-color};

  --dropdown-primary-color: #{$blue-main};
  --dropdown-secondary-color: #{$blue-dark};
  --dropdown-selected-color: #3b3b3b;
  --dropdown-hover-color: #3a3a3a;

  --progress-color: #{$border-color};

  --login-slider-bg: url("/auth-assets/Login-Art-Dark.png");
}
