<div class="exercise-main-container">
  <div class="main-content">
    <app-breadcrumb></app-breadcrumb>
    <div class="filter-container">
      <app-input
        label=""
        placeholder="Bài tập muốn tìm"
        [value]="searchData"
        (valueChange)="handleInputChange($event)"
        [errorMessage]="errorSearch"
        [required]="false"
        [minLength]="3"
        [variant]="'primary'"
        [isSvg]="false"
        [icon]="'fas fa-search'"
      ></app-input>

      <div class="dropdown-filter">
        <app-dropdown-button
          [label]="'Tags'"
          [options]="tags"
          [variant]="'secondary'"
          [size]="'medium'"
          [customDropField]="'main-type'"
          [disabled]="false"
          [multiSelect]="true"
          [isDisplayCheckbox]="false"
          (onSelect)="handleSelect(filterTagsKey, $event)"
          [isOpen]="activeDropdown === filterTagsKey"
          (toggle)="toggleDropdown(filterTagsKey)"
          [isDisplaySelectedOpptionLabels]="true"
          [isButtonControl]="false"
          [isSearchable]="true"
          [minHeight]="true"
          [needIndexColor]="true"
        >
        </app-dropdown-button>
      </div>
      <div class="dropdown-filter">
        <app-dropdown-button
          [label]="'Độ khó'"
          [options]="difficultyLevel"
          [variant]="'secondary'"
          [size]="'medium'"
          [customDropField]="'main-type'"
          [disabled]="false"
          [multiSelect]="false"
          [removeSingleSelected]="true"
          [isDisplayCheckbox]="false"
          (onSelect)="handleSelect(filterDifficultyKey, $event)"
          [isOpen]="activeDropdown === filterDifficultyKey"
          (toggle)="toggleDropdown(filterDifficultyKey)"
          [isDisplaySelectedOpptionLabels]="true"
          [isButtonControl]="false"
          [isSearchable]="false"
          [minHeight]="true"
          [needIndexColor]="true"
        >
        </app-dropdown-button>
      </div>

      <div class="create-exercise-btn">
        <app-btn-type1
          thumb="+"
          [thumbSize]="24"
          description="Tạo thủ công"
          (click)="toggleOpenModalCreate()"
        ></app-btn-type1>
        <app-btn-type1
          thumb="AI +"
          [thumbSize]="16"
          description="Tạo bằng AI"
          (click)="toggleOpenModalGenerate()"
        ></app-btn-type1>
      </div>
    </div>
    <div
      class="list-exercise"
      *ngIf="listExercise && !isLoading"
      appScrollEnd
      (appScrollEnd)="loadNextPage()"
    >
      <app-card-excercise
        *ngFor="let item of listExercise"
        [data]="item"
        [exerciseId]="item.id"
      >
      </app-card-excercise>
    </div>

    <app-skeleton-loading
      *ngIf="isLoading"
      type="card"
      [count]="8"
    ></app-skeleton-loading>

    <div class="no-content" *ngIf="listExercise.length === 0 && !isLoading">
      Không có dữ liệu
    </div>

    <div *ngIf="isLoadingMore" class="loading-more">
      Đang tải thêm, xin chờ...
    </div>
  </div>
</div>

<app-exercise-modal
  (submitExercise)="onModalCreateSubmit($event)"
  (cancel)="onModalCreateCancel()"
  [isOpen]="showModalCreate"
></app-exercise-modal>

<app-generate-exercise-modal
  [isVisible]="showModalGenerate"
  (close)="onClose()"
  (exerciseCreated)="exerciseCreated()"
></app-generate-exercise-modal>
