<div id="chart">
  <div
    *ngIf="chartTitle"
    class="chart-title"
    style="text-align: center; font-weight: bold; margin-bottom: 8px"
  >
    {{ chartTitle }}
  </div>
  <ng-container
    *ngIf="chartOptions.value && chartOptions.chart && chartOptions.labels && chartOptions.title && chartOptions.responsive;"
  >
  </ng-container>
  <apx-chart
    #chart
    [series]="chartOptions.value"
    [chart]="chartOptions.chart"
    [labels]="chartOptions.labels"
    [responsive]="chartOptions.responsive"
  ></apx-chart>
</div>
