<div class="saved-posts-container" appScrollEnd (appScrollEnd)="onScrollEnd()">
  @for (item of savedPosts; track item) {
    <div
      class="saved-post-card"
      (click)="navigateToDetails(item.post.postId)"
      >
      <div class="card-content">
        <h3 class="post-title">{{ item.post.title }}</h3>
        <p class="save-date">Đã lưu: {{ item.saveAt | date : "short" }}</p>
      </div>
    </div>
  }

  @if (loading) {
    <div class="loading-spinner">
      <div class="spinner"></div>
    </div>
  }

  @if (!loading) {
    <div class="no-data-container">
      <ng-lottie [options]="lottieOptions" style="width: 200px; height: 200px">
      </ng-lottie>
      <p>Không có dữ liệu</p>
    </div>
  }
</div>
