<div class="quiz-submission-container">
  <app-quiz
    *ngIf="startDoing"
    [questions]="questions"
    [totalTime]="times * 60"
    [quizId]="quizId"
    [exerciseId]="exerciseId ?? ''"
    (quizStateChanged)="onQuizStateChanged($event)"
  ></app-quiz>

  <app-box-chat-ai
    *ngIf="allowChatbot"
    [chatContexts]="chatContexts"
    [currentContextId]="currentContextId"
    [isLoading]="isLoading"
    [initialWidth]="currentChatWidth"
    [minWidth]="'300px'"
    [maxWidth]="'500px'"
    [position]="'right'"
    (sendMessage)="handleSendMessage($event)"
    (createNewChat)="handleCreateNewChat($event)"
    (selectContext)="handleSelectContext($event)"
    (deleteContext)="handleDeleteContext($event)"
  ></app-box-chat-ai>
</div>
