.excercise-card-container {
  border-radius: 12px;
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 16px;
  border: 1px solid var(--border-color);
  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .info-card {
    flex: 4;
    background: var(--card-excercize-bg);
    padding: 10px;
    transition: all 0.3s ease;
    width: 350px;
    border-radius: 12px 0 0 12px;

    &.border {
      border-radius: 12px;
    }

    .card-header .title {
      font-size: 1.2rem;
      font-weight: 600;
      margin: 0 0 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .metadata {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      .uploader-info {
        display: flex;
        align-items: center;
        gap: 8px;
        .avatar {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        .username {
          font-weight: 500;
          color: var(--text-color);
          opacity: 0.5;
        }
      }

      .timestamp {
        color: var(--text-color);
        opacity: 0.5;
        font-size: 0.8rem;
      }
    }

    .description {
      position: relative;

      p {
        margin: 0;
        line-height: 1.4;
        max-height: 2.2rem;
        overflow: hidden;
        transition: max-height 0.3s ease;
        font-size: 0.8rem;
      }
      p.expanded {
        max-height: 2.2rem;
        overflow: auto;
      }

      .clamp-2-lines {
        display: -webkit-box;
        /* stylelint-disable-next-line property-no-unknown */
        -webkit-line-clamp: 2; //tối đa 2 dòng, bị thừa thì sẽ ẩn đi
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
      }
      .read-more {
        background: none;
        border: none;
        color: #2196f3;
        cursor: pointer;
        padding: 4px 0;
        font-size: 0.75rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .difficulty {
      margin: 16px 0;
      display: flex;
      align-items: center;
      gap: 12px;
      justify-content: space-between;
      .part-difficulty {
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        .difficulty-badge {
          padding: 4px 12px;
          border-radius: 12px;
          font-size: 0.8rem;
          font-weight: 500;
          &.easy {
            background: #e8f5e9;
            color: #2e7d32;
          }
          &.medium {
            background: #fff3e0;
            color: #f57c00;
          }
          &.hard {
            background: #ffebee;
            color: #c62828;
          }
        }

        .difficulty-stars {
          display: flex;
          gap: 4px;

          .star {
            color: #ddd;
            transition: color 0.2s ease;
            &.filled {
              color: #ffd700;
            }
          }
        }
      }
      .part-type-ex {
        margin-right: 12px;
        opacity: 0.5;
        font-size: 12px;
      }
    }

    .tags-container {
      margin: 16px 0;
      overflow: hidden;
      .tags-scroll {
        display: flex;
        gap: 8px;
        overflow-x: auto;
        padding-bottom: 8px;

        .tag {
          background: var(--tags-color);
          padding: 6px 12px;
          border-radius: 16px;
          font-size: 0.8rem;
          white-space: nowrap;
          cursor: pointer;
          transition: background 0.2s ease;
          &:hover {
            background: #eeeeee;
          }
        }
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 16px;
      .status-toggle {
        .toggle-btn {
          padding: 8px 16px;
          border-radius: 20px;
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 8px;
          background: #f5f5f5;
          transition: all 0.2s ease;

          &.completed {
            background: #e8f5e9;
            color: #2e7d32;
          }
        }
      }

      .save-btn {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--text-color);
        transition: color 0.2s ease;
        &.saved {
          color: #ffd700;
        }
      }
    }
  }

  .admin-actions {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: flex-start;
    max-width: 48px;

    border-radius: 0 12px 12px 0;

    .edit-btn {
      margin-top: 12px;
      padding: 6px 16px;
      border: none;
      border-radius: 8px;
      font-size: 0.9rem;
      cursor: pointer;
      transition: background 0.2s, color 0.2s;
      font-weight: 500;
      background: #e3f2fd;
      color: #1976d2;
      &:hover {
        background: #bbdefb;
      }
    }
    .delete-btn {
      margin-top: 12px;
      padding: 6px 16px;
      border: none;
      border-radius: 8px;
      font-size: 0.9rem;
      cursor: pointer;
      transition: background 0.2s, color 0.2s;
      font-weight: 500;
      background: #ffebee;
      color: #c62828;
      &:hover {
        background: #ffcdd2;
      }
    }
    .accept-btn {
      flex: 1;
      border: none;
      width: 100%;
      background: var(--background-color);
      color: #2e7d32;
      font-weight: 600;
      border-radius: 0 12px 0 0;
      &:hover {
        background: #c8e6c9;
      }
    }
    .reject-btn {
      flex: 1;
      border: none;
      width: 100%;
      background: var(--background-color);
      color: #757575;
      border-radius: 0 0 12px 0;
      &:hover {
        background: #f6d7d7;
        color: #c62828;
      }
    }
    &.accepted {
      border-left: 3px solid #5ddf64;
    }
    &.pending {
      border-left: 3px solid #5d7edf;
    }
    &.rejected {
      border-left: 3px solid #df5d5d;
    }
  }
}

@media (max-width: 480px) {
  .info-card {
    padding: 16px;
    margin: 12px;
  }

  .metadata {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .difficulty {
    flex-direction: column;
    align-items: flex-start;
  }
}
