.app-default-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Ngăn tràn ngang
  box-sizing: border-box; // Đảm bảo padding/border được tính vào width
  overflow: hidden;

  .main-content-app-container {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden; // Ngăn tràn ngang cho content
    box-sizing: border-box;
  }
}
