.app-default-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Ngăn tràn ngang
  box-sizing: border-box; // Đảm bảo padding/border được tính vào width
  overflow: hidden;
  max-width: 100vw;
  width: 100%;

  app-menu-layout {
    display: flex;
    width: 100vw;
  }

  .main-content-app-container {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden; // Ngăn tràn ngang cho content
    box-sizing: border-box;
    position: relative;
    app-box-chat-ai {
      position: absolute;
      bottom: 3px;
      right: 3px;
      width: 70vw;
      display: flex;
      justify-content: end;
      // Bỏ sự kiện cho toàn container
      pointer-events: none;

      .chat-box {
        pointer-events: auto; // Chỉ phần này thao tác được
        z-index: 3;
      }
    }
  }

  app-footer {
    z-index: 1;
  }
}
