<div class="quiz-container">
  <div class="quiz-sidebar">
    <div class="time-section">
      <div><strong>Time:</strong> {{ timeLeft | durationFormat }}</div>
      <div
        class="progress-bar time"
        [style.width.%]="timeProgress"
        [ngClass]="{
          danger: timeLeft / totalTime <= 0.2,
          warning: timeLeft / totalTime <= 0.5 && timeLeft / totalTime > 0.2,
          safe: timeLeft / totalTime > 0.5
        }"
      ></div>
    </div>
    <div class="done-section">
      <div><strong>Done:</strong> {{ doneCount }}/{{ questions.length }}</div>
      <div class="progress-bar done" [style.width.%]="doneProgress"></div>
    </div>

    <ul class="question-list">
      <li
        *ngFor="let question of questions; let i = index"
        [class.done]="question.done"
        (click)="goToQuestion(i)"
      >
        Câu {{ i + 1 }}
      </li>
    </ul>
  </div>

  <div class="quiz-main" *ngIf="questions.length">
    <div class="content-quiz-container">
      <div class="question-number">Câu {{ currentQuestionIndex + 1 }}:</div>
      <div class="question-text">
        <strong>{{ questions[currentQuestionIndex].text }}</strong>
      </div>

      <div class="options">
        <label
          class="option"
          *ngFor="let opt of questions[currentQuestionIndex]?.options"
          [class.selected]="selectedAnswer?.selectedOption?.id === opt.id"
        >
          <input
            type="radio"
            name="answer{{ currentQuestionIndex }}"
            [value]="opt"
            [checked]="selectedAnswer?.selectedOption?.id === opt.id"
            (change)="selectAnswer(currentQuestionIndex, opt)"
          />
          {{ opt.optiontext }}
        </label>
      </div>
    </div>

    <div class="buttons">
      <div class="control-btn">
        <button
          class="btn-prev"
          (click)="prevQuestion()"
          [disabled]="currentQuestionIndex === 0"
        >
          Câu trước
        </button>
        <button
          class="btn-next"
          (click)="nextQuestion()"
          [disabled]="currentQuestionIndex >= questions.length - 1"
        >
          Câu tiếp
        </button>
      </div>
      <button class="btn-submit" (click)="openModalConfirm()">Nộp bài</button>
    </div>
  </div>
</div>
