<div class="post-container">
  <div class="post-list-container">
    <div class="post-list-control">
      <div class="post-list-filter">
        <app-input
          placeholder="Nhập tên..."
          [value]="postname"
          (valueChange)="handleInputChange($event)"
          [required]="false"
          [minLength]="3"
          [variant]="'primary'"
          [isSvg]="false"
          [icon]="'fa fa-search'"
        ></app-input>
        <app-dropdown-button
          [label]="'Vai trò'"
          [options]="tag"
          [variant]="'secondary'"
          [size]="'small'"
          [customDropField]="'main-type'"
          [disabled]="false"
          [multiSelect]="true"
          [isDisplayCheckbox]="false"
          (onSelect)="handleSelect('tag', $event)"
          [isOpen]="activeDropdown === 'tag'"
          (toggle)="toggleDropdown('tag')"
          [isDisplaySelectedOpptionLabels]="true"
          [isButtonControl]="true"
          [isSearchable]="true"
          [minHeight]="true"
          [needIndexColor]="true"
        ></app-dropdown-button>
        <app-dropdown-button
          [label]="'Trạng thái'"
          [options]="status"
          [variant]="'secondary'"
          [size]="'small'"
          [customDropField]="'main-type'"
          [disabled]="false"
          [multiSelect]="true"
          [isDisplayCheckbox]="false"
          (onSelect)="handleSelect('status', $event)"
          [isOpen]="activeDropdown === 'status'"
          (toggle)="toggleDropdown('status')"
          [isDisplaySelectedOpptionLabels]="true"
          [isButtonControl]="true"
          [isSearchable]="true"
          [minHeight]="true"
          [needIndexColor]="true"
        ></app-dropdown-button>
        <div class="post-list-button">
          <app-btn-type1
            thumb="+"
            [thumbSize]="24"
            description="Tạo bài viết"
            (click)="handleAdd()"
          ></app-btn-type1>
        </div>
      </div>
    </div>

    <div class="list-post-card-container">
      <!-- Hiển thị bài viết khi có dữ liệu và không đang tải -->
      <!-- Đang để tạm hàm fetchPostList(), khi nào có loadnextpage sẽ thay thế -->
      <div
        *ngIf="posts && posts.length > 0"
        class="list-post-card"
        appScrollEnd
        (appScrollEnd)="loadNextPage()"
      >
        <div *ngFor="let post of posts; trackBy: trackByPostId">
          <app-post-card
            [post]="post"
            (delete)="openModalDelete(post.id)"
            (upvote)="handleUpVote(post.id)"
            (downvote)="handleDownVote(post.id)"
            (mainClick)="goToDetail($event)"
            (save)="handleToggleSave(post.id)"
          ></app-post-card>
        </div>
      </div>

      <!-- Hiển thị skeleton loading khi đang tải -->
      <div *ngIf="isLoadingInitial" class="list-post-card">
        <app-skeleton-loading type="card" [count]="8"></app-skeleton-loading>
      </div>

      <!-- Hiển thị thông báo "Không có dữ liệu" với hình ảnh động khi không có bài viết -->
      <div
        *ngIf="!isLoading && (!posts || posts.length === 0)"
        class="no-data-container"
      >
        <ng-lottie
          [options]="lottieOptions"
          style="width: 200px; height: 200px"
        >
        </ng-lottie>
        <p>Không có dữ liệu</p>
      </div>
    </div>
  </div>

  <div class="popular">
    <div class="popular-content">
      <app-trending
        [items]="trendingData"
        title="Popular Technologies"
        [maxItems]="15"
      >
      </app-trending>
    </div>
    <div class="popular-post">
      <app-popular-post [ListPost]="posts"></app-popular-post>
    </div>
  </div>
</div>
