.custom-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  padding: 0;
  transition: all 0.2s ease-in-out;
  user-select: none;

  svg {
    width: 20px;
    height: 20px;
    stroke: currentColor;
    transition: stroke 0.2s;
  }

  &.solid {
    background-color: var(--primary-color);
    color: #fff;
    .label {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
    &:hover {
      background-color: var(--button-color-hover);
    }

    &:active {
      background-color: var(--button-color-active);
    }

    &.disabled {
      background-color: #f5f5f5;
      cursor: not-allowed;
      color: #adadad;
    }
  }
  &.cancel {
    background-color: var(--text-dark-gray-color);
    color: #fff;
    .label {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
    &:hover {
      background-color: var(--button-color-hover);
    }

    &:active {
      background-color: var(--button-color-active);
    }

    &.disabled {
      background-color: #f5f5f5;
      cursor: not-allowed;
      color: #adadad;
    }
  }

  &.outline {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    .label {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
    &:hover {
      background-color: var(--button-color-hover);
      color: #fff;
    }

    &:active {
      background-color: var(--title-text);
    }

    &.disabled {
      border-color: #ccc;
      cursor: not-allowed;
      color: #adadad;
    }
  }
  &.onlyContent {
    background-color: transparent;
    color: var(--text-dark-gray-color);
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    .label {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
    &:hover {
      color: oklch(from var(--text-dark-gray-color) l c h / 0.7);
    }
    &:active {
      color: oklch(from var(--text-color) l c h / 0.5);
    }
    &.disabled {
      color: #adadad;
      cursor: not-allowed;
    }
  }
}
