.header {
  width: 100%;
  padding: 16px 0;
  background-color: var(--background-color);

  &-container {
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    display: flex;
    align-items: flex-end;
    gap: 8px;

    &-icon {
      height: 32px;
    }

    &-name {
      height: 24px;
    }
  }

  &-menu {
    display: flex;
    align-items: center;
    gap: 40px;

    &-item {
      &-text {
        font-size: 16px;
        color: var(--text-color);
        cursor: pointer;
        transition: color 0.2s;

        &:hover {
          color: var(--hover-color);
        }
      }

      &-button {
        padding: 8px 16px;
        background-color: var(--background-color);
        color: var(--text-dark-gray-color);
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s;
        border: 1px solid var(--text-dark-gray-color);
        &:hover {
          background-color: var(--button-color-hover);
          border: 1px solid var(--text-gray-color);
          color: var(--text-gray-color);
        }
      }
    }
  }
}
