<div class="header">
  <div class="header-container">
    <div class="header-logo">
      <img class="header-logo-icon" src="landing-assets/Logo.svg" alt="logo" />
      <!-- <img
        class="header-logo-name"
        src="landing-assets/NameWeb.svg"
        alt="logo"
      /> -->
      <p class="header-logo-name">
        <span style="color: #f43f5e">/</span>CodeCampus
      </p>
    </div>
    <div class="header-menu">
      <!-- <span class="header-menu-item-text">Học tập</span>
      <span class="header-menu-item-text">Cộng đồng</span>
      <span class="header-menu-item-text">Hỗ trợ</span>
      <span class="header-menu-item" style="color: var(--text-gray-color)"
        >|</span
      > -->
      <span class="header-menu-item-text">Đăng nhập</span>
      <span class="header-menu-item-button">Tạo tài khoản</span>
    </div>
  </div>
</div>
