@use "../../../../styles/themes/_variables.scss" as *;

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.icon {
  font-size: 20px;
}

.primary {
  background: $blue-main;
  color: $white-f9fcff;
  border: 1px solid var(--border-color);
}

.secondary {
  background: var(--error-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.danger {
  background: var(--error-color);
  color: var(--text-color);
}

.small {
  padding: 8px 16px;
  font-size: 14px;
}

.medium {
  padding: 12px 24px;
  font-size: 16px;
}

.large {
  padding: 16px 32px;
  font-size: 18px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.custom-button:not(.disabled):hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: $blue-dark;
}

.custom-button:not(.disabled):active {
  transform: translateY(0);
}

.loader {
  width: 16px;
  height: 16px;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 0.8s linear infinite;
  margin-left: 8px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.button-text {
  display: flex;
  white-space: nowrap;
  height: 20px;
  align-items: center;
}
