<div class="post-container">
  <div class="post-list-container">
    <div class="post-list-control">
      <div class="post-list-filter">
        <app-input
          placeholder="Nhập tên..."
          [value]="postname"
          (valueChange)="handleInputChange($event)"
          [required]="false"
          [minLength]="3"
          [variant]="'primary'"
          [isSvg]="false"
          [icon]="'fa fa-search'"
        ></app-input>
        @if (authenticated) {
        <div class="post-list-button">
          <app-btn-type1
            thumb="+"
            [thumbSize]="24"
            description="Tạo bài viết"
            (click)="handleAdd()"
          ></app-btn-type1>
        </div>
        }
      </div>
    </div>

    <div class="list-post-card-container">
      <!-- Hiển thị bài viết khi có dữ liệu và không đang tải -->
      <!-- Đang để tạm hàm fetchPostList(), khi nào có loadnextpage sẽ thay thế -->
      @if (posts && posts.length > 0 && !(isLoadingInitial || isLoadingMore ||
      isLoading)) {
      <div class="list-post-card" appScrollEnd (appScrollEnd)="loadNextPage()">
        @for (post of posts; track trackByPostId($index, post)) {
        <div>
          <app-post-card
            [post]="post"
            (delete)="openModalDelete(post.id)"
            (upvote)="handleUpVote(post.id)"
            (downvote)="handleDownVote(post.id)"
            (mainClick)="goToDetail($event)"
            (save)="handleToggleSave(post.id)"
          ></app-post-card>
        </div>
        }
      </div>
      }

      <!-- Hiển thị skeleton loading khi đang tải -->
      @if (isLoadingMore || isLoading) {
      <div class="list-post-card">
        <app-skeleton-loading type="card" [count]="8"></app-skeleton-loading>
      </div>
      }

      <!-- Hiển thị thông báo "Không có dữ liệu" với hình ảnh động khi không có bài viết -->
      @if (!isLoading && (!posts || posts.length === 0)) {
      <div class="no-data-container">
        <ng-lottie
          [options]="lottieOptions"
          style="width: 200px; height: 200px"
        >
        </ng-lottie>
        <p>Không có dữ liệu</p>
      </div>
      }
    </div>
  </div>
</div>
